{%- if site.data.structure.nav[0] -%}

{%- assign counter = 0 -%}

{%- for item in site.data.structure.nav -%} {% comment %} Calculate maximum rank {% endcomment -%}

  {% if page.title == item.name %}
    {%- assign pageRank = item.rank -%}
    {%- assign nextRank = pageRank | plus: 1 -%}
    {%- assign prevRank = pageRank | minus: 1 -%}
    {% break %}
  {% endif %}

  {% assign counter = counter | plus: 1 %}

{% endfor %}

{% assign moreCounter = counter %}

<ul>

{%- for range in (0..45)-%}

  {%- if site.data.structure.nav[moreCounter] -%}

  {%- if site.data.structure.nav[counter].rank == site.data.structure.nav[moreCounter].rank -%}

    <li> <a href="{{ site.data.structure.nav[moreCounter].name }}.html"> {{ site.data.structure.nav[moreCounter].name }}</a> </li>

    {% assign moreCounter = moreCounter | plus: 1 %}

    {%- continue -%}

  {% elsif site.data.structure.nav[counter].rank < site.data.structure.nav[moreCounter].rank %}

    {{moreCounter}}

    {% assign moreCounter = moreCounter | plus: 1 %}

    {%- continue -%}


  {%- elsif site.data.structure.nav[counter].rank > site.data.structure.nav[moreCounter].rank -%}

      {% assign lessCounter = counter | minus: 1 %}

      {%- for range in (0..44) -%}

        {%- if site.data.structure.nav[counter].rank < site.data.structure.nav[lessCounter].rank -%}

          {%- assign lessCounter = lessCounter | minus: 1 -%}

          {% continue %}

         {%- elsif site.data.structure.nav[counter].rank == site.data.structure.nav[lessCounter].rank -%}

            <li> <a href="{{ site.data.structure.nav[lessCounter].name }}.html"> {{ site.data.structure.nav[lessCounter].name }}</a> </li>

            {% continue %}

         {% else %}

           {% break %}

        {% endif %}
        
      {% endfor %}


  {%- endif -%}
  {%- endif -%}

{%- endfor -%}

</ul>

{% assign counter = counter | plus: 1 %}

<ul> {%- comment -%}last column{%- endcomment -%}

{%- for item in site.data.structure.nav offset: counter -%}

  {% if item.rank == nextRank %}

    <li> <a href="{{ item.name }}.html"> {{ item.name }}</a> </li>
  
  {% elsif item.rank > nextRank %}

    {% continue %}
    
  {% else %}

    {% break %}
    
  {% endif %}

{%- endfor -%}

</ul>

{% endif %}
