{%- if site.data.structure.nav[0] -%}

{%- assign maxRank = 0 -%}
{%- assign lowRank = 0 -%}
{%- assign rootDirectory = 0 -%}
{%- assign pageRoot = 0 -%}

{%- for item in site.data.structure.nav -%} {% comment %} Calculate maximum rank {% endcomment -%}
  {%- if page.title == item.name -%}
    {%- assign maxRank = item.rank -%}
    {%- assign lowRank = maxRank | minus: 1 -%}
    {%- assign pageRoot = item.directory -%}
  {%- endif -%}
{%- endfor -%}

{%- for item in site.data.structure.nav -%}
  {%- if item.name == pageRoot -%}
    {%- assign rootDirectory = item.directory -%}
  {%- endif -%}
{%- endfor -%}

{%- if maxRank == 1 -%} {% comment %} Avoid generating invisible <ul> in rank 1  {% endcomment -%}
  {%- assign lowRank = maxRank -%}
{%- endif -%}

{%- if maxRank > 0 -%} {% comment %} Avoid generating invisible <ul> in rank 0  {% endcomment -%}
{%- for rank in (lowRank..maxRank) -%}
  <ul>
  {%- for item in site.data.structure.nav -%}
    {%- if item.rank == rank -%}
      {%- if page.title == item.name -%} {% comment %} If it is the current page  {% endcomment -%}
        <li>
          <a class="selected" href="/src/{{ item.name }}.html">{{ item.name }}</a>
        </li>
      {%- elsif item.directory == pageRoot -%}  {% comment %} If other pages have the same root directory {% endcomment -%}
        <li>
          <a href="/src/{{ item.name }}.html"> {{ item.name }}</a>
        </li>
      {%- elsif item.name == pageRoot -%} {% comment %} prints the root directory {% endcomment -%}
        <li>
          <a href="/src/{{ item.name }}.html"> {{ item.name }}</a>
        </li>
      {%- elsif item.directory == rootDirectory -%} {% comment %} prints the directories which have the same directory as the rootDirectory {% endcomment -%}
        <li>
          <a href="/src/{{ item.name }}.html"> {{ item.name }}</a>
        </li>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}       
  </ul>
{%- endfor -%}
{%- endif -%}

{%- for item in site.data.structure.nav -%}
  {%- if item.rank > maxRank -%}
    <ul>
    {%- for item in site.data.structure.nav -%}
      {%- if page.title == item.directory -%}
         <li>
          <a href="/src/{{ item.name }}.html"> {{ item.name }}</a>
        </li>
      {%- endif -%}
    {%- endfor -%}       
    </ul>
  {% break %}
  {% endif -%}
{%- endfor -%}

{% endif -%}

